body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(images/new_background_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin-left: 0 !important;
    margin: 26px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0 !important;
    max-width: 1200px;
    padding-left: 10%;
    padding-right: 40px;
}

main{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.first-section{
    width: 40%;
}

.orar{
    position: relative;
    margin-bottom: 20px;
    background: #f8f8f8;
    color: #666;
    text-align: center;
    padding: 2px 5px;
    
}

.text{
    font-weight: 900;
    font-size: 22px;
    padding: 15px 29px 15px 15px;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.choose-category{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.choose{
    background-color: #25975A;
    color: white;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    padding: 10px 30px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.choose-category :hover{
    transition: .3s;
    background-color: white;
    color: black;
}

.search-zone{
    display: flex;
    margin-bottom: 20px;
}

.search-zone span{
    display: flex;
    align-items: center;
}

.search-zone input{
    width: 100%;
    height: 40px;
}

.search-zone span svg{
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    margin-left: 10px;
}

.rezult{
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.rezult ul{
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.rezult ul li{
    display: flex;
    height: 20px;
    padding: 2px;
    border: none;
    padding-left:20px;
    color: #616161;
}
.rezult ul .Mi{
    background-color: #25975A;
    color: white;
    font-weight: 400;
    padding: 5px;
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.rezult ul li:hover{
    background-color: bisque;
    color: #25975A;
}

.choose-way{
    display: flex;
    margin-bottom: 20px;
    background-color: white;
    height: 40px;
    align-items: center;
    color: #616161;
}

.choose-way:hover{
    background-color: bisque;
    color: #25975A;
}

.choose-way span{
    padding-left: 10px;
}
.choose-way .ziua{
    
    font-weight: bold;

}
.orar-table{
    display: grid;
    grid-template-columns: 3fr repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 5 / 1 / 6 / 2; }
    .div6 { grid-area: 6 / 1 / 7 / 2; }
    .div7 { grid-area: 7 / 1 / 8 / 2; }
    .div8 { grid-area: 8 / 1 / 9 / 2; }
    .div9 { grid-area: 1 / 2 / 2 / 3; }
    .div10 { grid-area: 1 / 3 / 2 / 4; }
    .div11 { grid-area: 1 / 4 / 2 / 5; }
    .div12 { grid-area: 1 / 5 / 2 / 6; }
    .div13 { grid-area: 1 / 6 / 2 / 7; }
    .div14 { grid-area: 1 / 7 / 2 / 8; }
    .div15 { grid-area: 1 / 8 / 2 / 9; }
    .div16 { grid-area: 2 / 2 / 3 / 3; }
    .div17 { grid-area: 2 / 3 / 3 / 4; }
    .div18 { grid-area: 2 / 4 / 3 / 5; }
    .div19 { grid-area: 2 / 5 / 3 / 6; }
    .div20 { grid-area: 2 / 6 / 3 / 7; }
    .div21 { grid-area: 2 / 7 / 3 / 8; }
    .div22 { grid-area: 2 / 8 / 3 / 9; }
    .div23 { grid-area: 3 / 2 / 4 / 3; }
    .div24 { grid-area: 3 / 3 / 4 / 4; }
    .div25 { grid-area: 3 / 4 / 4 / 5; }
    .div26 { grid-area: 3 / 5 / 4 / 6; }
    .div27 { grid-area: 3 / 6 / 4 / 7; }
    .div28 { grid-area: 3 / 7 / 4 / 8; }
    .div29 { grid-area: 3 / 8 / 4 / 9; }
    .div30 { grid-area: 4 / 2 / 5 / 3; }
    .div31 { grid-area: 4 / 3 / 5 / 4; }
    .div32 { grid-area: 4 / 4 / 5 / 5; }
    .div33 { grid-area: 4 / 5 / 5 / 6; }
    .div34 { grid-area: 4 / 6 / 5 / 7; }
    .div35 { grid-area: 4 / 7 / 5 / 8; }
    .div36 { grid-area: 4 / 8 / 5 / 9; }
    .div37 { grid-area: 5 / 2 / 6 / 3; }
    .div38 { grid-area: 5 / 3 / 6 / 4; }
    .div39 { grid-area: 5 / 4 / 6 / 5; }
    .div40 { grid-area: 5 / 5 / 6 / 6; }
    .div41 { grid-area: 5 / 6 / 6 / 7; }
    .div42 { grid-area: 5 / 7 / 6 / 8; }
    .div43 { grid-area: 5 / 8 / 6 / 9; }
    .div44 { grid-area: 6 / 2 / 7 / 3; }
    .div45 { grid-area: 6 / 3 / 7 / 4; }
    .div46 { grid-area: 6 / 4 / 7 / 5; }
    .div47 { grid-area: 6 / 5 / 7 / 6; }
    .div48 { grid-area: 6 / 6 / 7 / 7; }
    .div49 { grid-area: 6 / 7 / 7 / 8; }
    .div50 { grid-area: 6 / 8 / 7 / 9; }
    .div51 { grid-area: 7 / 2 / 8 / 3; }
    .div52 { grid-area: 7 / 3 / 8 / 4; }
    .div53 { grid-area: 7 / 4 / 8 / 5; }
    .div54 { grid-area: 7 / 5 / 8 / 6; }
    .div55 { grid-area: 7 / 6 / 8 / 7; }
    .div56 { grid-area: 7 / 7 / 8 / 8; }
    .div57 { grid-area: 7 / 8 / 8 / 9; }
    .div58 { grid-area: 8 / 2 / 9 / 3; }
    .div59 { grid-area: 8 / 3 / 9 / 4; }
    .div60 { grid-area: 8 / 4 / 9 / 5; }
    .div61 { grid-area: 8 / 5 / 9 / 6; }
    .div62 { grid-area: 8 / 6 / 9 / 7; }
    .div63 { grid-area: 8 / 7 / 9 / 8; }
    .div64 { grid-area: 8 / 8 / 9 / 9; }

.green{
    background-color: #25975A;
    border: solid 1px white;
    color: #ffffff;
    width:auto !important;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green:hover{
    background-color: bisque;
    color: #25975A;
}

.white{
    background-color: #ffffff;
    border: .1px solid  gray;
    color: white;
    text-align: center!important;
    width:auto !important;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div16, .div24, .div26, .div38{
    background-color: #800040;
}
.div17{
    background-color: #8080c0;
}
.div18, .div30{
    background-color: #d7d700;
}
.div19, .div46{
    background-color: #a3f1bc;
}
.div23{
    background-color: #004080;
}
.div25{
    background-color: #5b59ec;
}
.div31{
    background-color: #d3d3d3;
}
.div32, .div41, .div45, .div48{
    background-color: #76bd49;
}
.div39{
    background-color: #408080;
}
.div40{
    background-color: #a85400;
}
.div44{
    background-color: #dcd7a3;

}
.white:hover{
    background-color: bisque;
}

.curs{
    display: flex;
    color: #ffffff;
    flex-wrap: wrap;
    justify-content: center;
    
}
.curs p{
    margin: 0 0 20px 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 13px;
}

.student{   
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    justify-content: flex-start;
    align-items: center;
    font-size: 900;
    font-family: 'Times New Roman', Times, serif;
}

#download{
    display: flex;
    background-color: #25975A;
    border-color: #ffffff ;
    border-radius: 2px;
    padding: 1px 10px;
    color: #ffffff;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#exams{
    display: flex;
    background-color: #f0506e;
    padding: 1px 10px;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
#database{
    display: flex;
    background-color: #7b4669;
    padding: 1px 10px;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
#inaction{
    background-color: #ffffff;
    padding: 20px 10px;
    color: #32d296;
    border: none;

}

.second-section{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    width: 55%;
    text-align: center;
    margin-left: 10px;

}

.second-section h4{
    color: #ffffff;
    font: 20px -apple-system , BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 900;
    margin: 10px 10px 0 10px;
    font-size: 1.25em;
}

.second-section img{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: auto;
}

.detailed-orar{
    display: flex;
}

.green-time{
    background-color: #25975A;
    padding: 0 20px 0 20px;
    color: #ffffff;
    line-height: 40px;
    border: solid 1px #ffffff;
    text-align: center!important;
    
}
.main-green-time{
    width: 25%;
}
.main-white-orar{
    width: 100%;
    height: 40px;
}

.white-orar{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 80px;
    background-color: #ffffff;
    border: 1px solid gray;
    color: #666;
    font-weight: 900;
    line-height: 20px;
}


.green-time:hover{
    background-color: bisque;
    color: #25975A;
}

.white-orar:hover{
    background-color: bisque;
}